/*///////////////// FIRST PART OF PAGE //////////////////*/

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica';
    letter-spacing: 50px;
}

nav {
    text-align: center;
    background-color: lightgrey;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:active {
    color: white;
}

h1,
h2 {
    text-align: center;
}

h1 {
    padding-top: 40px;
}

footer {
    background-color: cadetblue;
    display: block;
    padding: 20px;

}

#active {
    color: white;
}


/*//////////////////// MOBILE VERSION /////////////////*/

@media only screen and (max-width: 60em) {
    nav ul li {
        display: block;
        padding: 15px;
    }
    nav {
        text-align: center;
        margin-left: -5%;
        max-height: 0;
        overflow: hidden;
    }
    input {
        display: none;
    }
    input:checked~nav {
        max-height: 2000px;
    }
    label {
        cursor: pointer;
        padding: 10px;
        display: block;
        background-color: lightgrey;
    }
}


/*//////////////////// DESKTOP VERSION ///////////////*/

@media only screen and (min-width:60em) {
    input {
        display: none;
    }
    label {
        display: none;
    }
    /*///////////////////// FRONTPAGE ///////////////////*/
    #objectivesFrontpageBox {
        margin: 50px;
        height: 550px;
        position: relative;
    }
    .objectivesFrontpage {
        position: absolute;
        height: auto;
        padding: 20px;
    }
    #skillsFrontpage {
        background-color: lightgray;
        width: 450px;
    }
    #knowledgeFrontpage {
         background-color: grey;
        width: 300px;
        top: 0px;
        left: 800px;
        z-index: 2;
    }
    #competenciesFrontpage {
        background-color: lightblue;
        width: 850px;
        top: 250px;
        left: 300px;
    }

}



