/*///////////////// FIRST PART OF PAGE //////////////////*/
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway:300');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

nav {
    text-align: center;
    background-color: lightgrey;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:active {
    color: white;
}

h1 {

    font-size: 32pt;
    letter-spacing: 2px;
    line-height: 38pt;
    padding-top: 40px;
    font-family: 'Poiret One', cursive;
}

h1, h2{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

footer {
    background-color: cadetblue;
    display: block;
    padding: 20px;

}

#active {
    color: white;
}


/*//////////////////// MOBILE VERSION /////////////////*/

@media only screen and (max-width: 60em) {
    nav ul li {
        display: block;
        padding: 15px;
    }
    nav {
        text-align: center;
        margin-left: -5%;
        max-height: 0;
        overflow: hidden;
    }
    input {
        display: none;
    }
    input:checked~nav {
        max-height: 2000px;
    }
    label {
        cursor: pointer;
        padding: 10px;
        display: block;
        background-color: lightgrey;
    }

    /*/////////////TRANSFER AND EXCHANGE////////////////*/

    #transferExchangeContainer {
        margin: 30px;
    }

    #transferContainer {
        background-color: grey;
        padding: 30px;
    }

    #exchangeContainer {
        background-color: lightblue;
        padding: 30px;
    }

    .openText{
       display: block;
    }
    .closeText{
        display: none;
    }

    /*/////////////GENERAL INFORMATIONS//////////////*/

    #informationsContainer {
        margin: 30px;
    }
    .informations {
        padding: 30px;
    }

    #info1, #info3{
        background-color: lightblue;
    }
    #info2, #info4{
        background-color: lightgrey;
    }


}







/*//////////////////// DESKTOP VERSION ///////////////*/

@media only screen and (min-width:60em) {

    /*/////////////TEMPLATE AND LEFT NAV///////////*/
    .main_box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: auto;
        height: 80vh;
        padding: 50px;
        padding-bottom: 0;
    }
    .left_nav {
        grid-column: span 1;
        text-align: center;
        background-color: aquamarine;
    }
    .left_nav a {
        display: block;
        margin-top: 40px;
    }
    .box1 {
        grid-column: span 3;
        background-color: cadetblue;

    }
    #chart {
        background-color: aqua;
        width: 40vw;
        height: 15vw;
        margin-top: 15px;
        margin-left:100px;
    }

    input {
        display: none;
    }
    label {
        display: none;
    }
    /*///////////////////// FRONTPAGE ///////////////////*/
    #objectivesFrontpageBox {
        margin: 50px;
        height: 550px;
        position: relative;
    }
    .objectivesFrontpage {
        position: absolute;
        height: auto;
        padding: 20px;
    }
    #skillsFrontpage {
        background-color: lightgray;
        top: 270px;
        width: 450px;
    }
    #knowledgeFrontpage {
        top: 0px;
        left: 800px;
        z-index: 2;
    }

    #imageFront{
        width: 400px;
    }

    #competenciesFrontpage {
        background-color: lightblue;
        width: 550px;
        height: 400px;
        left: 480px;
    }

    h3 {
       font-size: 18pt;
    }

    #contentFront {
        font-size: 16pt;
        line-height: 22pt;
    }


    /*//////////// TRANSFER AND EXCHANGE /////////////*/

    #transferExchangeContainer {
        position: relative;
        margin-left: 0px;
        padding: 100px;
    }

    .transferExchange {
        height: auto;
        width: 500px;
        display: inline-block;
        padding: 50px;
    }

    #transferText {
        position: absolute;
        bottom: 40px;
        padding-right: 50px;
    }

    #transferContainer {
        position: absolute;
        background-color: cadetblue;
        height: 597px;
    }

    #exchangeContainer{
        background-color: grey;
    }

    /*////////////////////// INFORMATIONS /////////////////*/

    .informations {
        width: 540px;
        height: 300px;
        overflow: hidden;
        padding: 30px;
    }

    #informationsContainer {
        margin: 100px;
        margin-left: 120px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 600px);
    }

    .hidetext {
        display: none;
    }

    #info1{
        background-color: grey;
    }

    #info2 {
        background-color: cadetblue;
    }

    #info3 {
        background-color: lightblue;
    }
    #info4 {
        background-color: lightgrey;
    }
}



